@import "tailwindcss";
@config "./tailwind.config.ts";

/* Support both .dark class and data-theme="dark" attribute */
@custom-variant dark (&:where(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));

/********************************************************************
 * light theme variables (oklch)
 ********************************************************************/
:root {
  /* info color palette */
  --theme-info: var(--theme-info-500);
  --theme-info-foreground: oklch(100% 0 89.88);       /** #ffffff */
  --theme-info-50: oklch(95.374% 0.0211 252.5);       /** #e6f1fe */
  --theme-info-100: oklch(90.703% 0.0434 251.52);     /** #cce3fd */
  --theme-info-200: oklch(81.593% 0.0885 251.95);     /** #99c7fb */
  --theme-info-300: oklch(72.661% 0.1349 253.3);      /** #66aaf9 */
  --theme-info-400: oklch(64.678% 0.1781 254.76);     /** #338ef7 */
  --theme-info-500: oklch(56.713% 0.2095 257.94);     /** #006FEE */
  --theme-info-600: oklch(49.195% 0.18 257.73);       /** #005bc4 */
  --theme-info-700: oklch(40.117% 0.1436 257.21);     /** #004493 */
  --theme-info-800: oklch(30.742% 0.1034 255.59);     /** #002e62 */
  --theme-info-900: oklch(20.335% 0.0604 251.77);     /** #001731 */
}

/********************************************************************
 * dark theme variables (oklch)
 ********************************************************************/
html.dark,
:root[data-theme="dark"] {
  /* info color palette dark */
  --theme-info: var(--theme-info-400);
  --theme-info-foreground: oklch(100% 0 89.88);       /** #ffffff */
  --theme-info-50: oklch(20.335% 0.0604 251.77);      /** #001731 */
  --theme-info-100: oklch(30.742% 0.1034 255.59);     /** #002e62 */
  --theme-info-200: oklch(40.117% 0.1436 257.21);     /** #004493 */
  --theme-info-300: oklch(49.195% 0.18 257.73);       /** #005bc4 */
  --theme-info-400: oklch(56.713% 0.2095 257.94);     /** #006FEE */
  --theme-info-500: oklch(64.678% 0.1781 254.76);     /** #338ef7 */
  --theme-info-600: oklch(72.661% 0.1349 253.3);      /** #66aaf9 */
  --theme-info-700: oklch(81.593% 0.0885 251.95);     /** #99c7fb */
  --theme-info-800: oklch(90.703% 0.0434 251.52);     /** #cce3fd */
  --theme-info-900: oklch(95.374% 0.0211 252.5);      /** #e6f1fe */
}
